.navbar {
    background-color: #004d40;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 2rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
    margin: 0;
    font-size: 1.6rem;
}

.navbar div a {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.navbar div a:hover {
    color: #b2dfdb;
    text-decoration: none;
}