.contact-page {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

.contact-page h1 {
    text-align: center;
}

.contact-page form div {
    margin-bottom: 10px;
}

.contact-page form label {
    display: block;
    margin-bottom: 5px;
}

.contact-page form input,
.contact-page form textarea {
    width: 400px;
    padding: 8px;
    margin-bottom: 20px;
}

.contact-page form button {
    width: 400px;
    padding: 10px;
    align-items: center;
    background-color: #004d40;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-page form button:hover {
    background-color: #00251a;
}